Repository typelevel/cats-effect, pull requests merged in 2022-11, with the labels that each got.

#3236 Record CPU starvation metrics
  core/js/src/main/scala/cats/effect/IOApp.scala
  core/js/src/main/scala/cats/effect/metrics/JsCpuStarvationMetrics.scala
  core/jvm/src/main/scala/cats/effect/IOApp.scala
  core/jvm/src/main/scala/cats/effect/metrics/CpuStarvationMbean.scala
  core/jvm/src/main/scala/cats/effect/metrics/CpuStarvationMbeanImpl.scala
  core/jvm/src/main/scala/cats/effect/metrics/JvmCpuStarvationMetrics.scala
  core/native/src/main/scala/cats/effect/IOApp.scala
  core/native/src/main/scala/cats/effect/metrics/NativeCpuStarvationMetrics.scala
  core/shared/src/main/scala/cats/effect/CpuStarvationCheck.scala
  core/shared/src/main/scala/cats/effect/metrics/CpuStarvationMetrics.scala
Labels: :mushroom: enhancement

#3246 Updated versions for 3.4.0
  README.md
  docs/core/native-image.md
  docs/core/scala-native.md
  docs/core/test-runtime.md
  docs/faq.md
  docs/getting-started.md
  docs/migration-guide.md
  docs/tutorial.md
Labels: :books: docs

#3255 Site: update `Supervisor` page
  docs/std/supervisor.md
Labels: :books: docs

#3263 Updated site for 3.4.1
  website/pages/en/index.js
Labels: :books: docs

#3261 Updated versions for 3.4.1
  README.md
  docs/core/native-image.md
  docs/core/scala-native.md
  docs/core/test-runtime.md
  docs/faq.md
  docs/getting-started.md
  docs/migration-guide.md
  docs/tutorial.md
Labels: :books: docs

#3257 Site: add `Env` page
  docs/std/env.md
  site-docs/sidebars.json
Labels: :books: docs

#3205 Change `async_` to be uncancelable
  build.sbt
  core/shared/src/main/scala/cats/effect/IO.scala
  core/shared/src/main/scala/cats/effect/IOFiber.scala
  kernel/shared/src/main/scala/cats/effect/kernel/Async.scala
  kernel/shared/src/main/scala/cats/effect/kernel/Resource.scala
  laws/shared/src/main/scala/cats/effect/laws/AsyncLaws.scala
  tests/shared/src/test/scala/cats/effect/ResourceSpec.scala
Labels: :microscope: experiment

#3290 Fix #3283: make Deferred#complete uncancelable
  kernel/shared/src/main/scala/cats/effect/kernel/Deferred.scala
  tests/shared/src/test/scala/cats/effect/kernel/DeferredSpec.scala
Labels: :beetle: bug

#3291 Updated versions for 3.4.2
  README.md
  docs/core/native-image.md
  docs/core/scala-native.md
  docs/core/test-runtime.md
  docs/faq.md
  docs/getting-started.md
  docs/migration-guide.md
  docs/tutorial.md
Labels: :books: docs

#3293 Updated site for 3.4.2
  website/pages/en/index.js
Labels: :books: docs
