Repository typelevel/cats-effect, pull requests merged in 2023-02, with the labels that each got.

#3416 Thread blocking detection docs
  docs/core/starvation-and-tuning.md
Labels: :books: docs

#3421 Improved `Ref` scaladoc
  docs/std/ref.md
  kernel/shared/src/main/scala/cats/effect/kernel/Ref.scala
Labels: :books: docs

#3412 Add Recipes node with simple example for `Supervisor`
  docs/recipes.md
  site-docs/sidebars.json
Labels: :books: docs

#3432 Fixed issues in the timer handling state machine integration
  core/jvm/src/main/scala/cats/effect/unsafe/IORuntimeBuilderPlatform.scala
  core/jvm/src/main/scala/cats/effect/unsafe/WorkerThread.scala
  tests/jvm/src/test/scala/cats/effect/IOPlatformSpecification.scala
Labels: :beetle: bug

#3448 Updated versions for 3.4.8
  README.md
  docs/core/native-image.md
  docs/core/scala-native.md
  docs/core/test-runtime.md
  docs/faq.md
  docs/getting-started.md
  docs/migration-guide.md
  docs/std/ref.md
  docs/tutorial.md
Labels: :books: docs

#3450 Updated site for 3.4.8
  website/pages/en/index.js
Labels: :books: docs

#3453 Corrected handling of self-cancelation within `timeout`
  kernel/shared/src/main/scala/cats/effect/kernel/GenSpawn.scala
  kernel/shared/src/main/scala/cats/effect/kernel/GenTemporal.scala
  kernel/shared/src/main/scala/cats/effect/kernel/Resource.scala
  laws/shared/src/main/scala/cats/effect/laws/GenSpawnLaws.scala
  laws/shared/src/main/scala/cats/effect/laws/GenSpawnTests.scala
  tests/shared/src/test/scala/cats/effect/IOSpec.scala
Labels: :book: laws

#3460 Added `cancelable`
  core/shared/src/main/scala/cats/effect/IO.scala
  docs/faq.md
  kernel/shared/src/main/scala/cats/effect/kernel/GenSpawn.scala
  kernel/shared/src/main/scala/cats/effect/kernel/syntax/GenSpawnSyntax.scala
  tests/shared/src/test/scala/cats/effect/IOSpec.scala
Labels: :mushroom: enhancement
